# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать скомпилированные файлы Python
*.pyc
__pycache__/

# Логи тестов
*.log

# Игнорировать настройки редактора (если используете, например, VSCode или PyCharm)
.idea/
.vscode/